.display{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 5rem;
}
.input-box{
   height: 2rem; 
   width: 30rem;
 font-size: 1.2rem;
   padding: 1.2rem 3rem ;
   margin: 1rem 15rem;
   background-color: white;
   border: none;
   border-radius: 0.8rem;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
span{
   font-size: 1.5rem;
   margin-left: 15rem;
}